@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');
*,
*:after,
*:before{
	-webkit-box-sizing: border box;
	box-sizing: borer box;
	margin: 0;
	padding: 0;
}
:active,
:hover,
:focus{
	outline: 0 !important;
	outline-offset: 0;

}
a,a:hover{
	text-decoration: none;
}
a:hover{
	color: var(--secondary-color);
}
ul, ol{
	margin: 0;
	padding:0;
}

html{
	scroll-behavior: smooth;
}
/*
===============================
	varibale define
===============================
*/
:root{
	--primary-color: #791a07;
	--secondary-color: #071418;
	--third-color: #F5A9BC;
	--white-color: #fff;
	--text-color: #A4A4A4;
	--text-grey: #999;
	--black-color: #000;
	--primary-font: 'Quicksand', sans-serif;
	--secodary-font: 'Roboto', sans-serif;

}
body{
	font-family: var(--primary-font);
	font-size: 100%;
	font-weight: 400;
}
/*
===============================
       Custom scrollbar
===============================
*/
::-webkit-scrollbar{
	width: 0.625rem;
}
::-webkit-scrollbar-track{
	background: var(--white-color);
}
::-webkit-scrollbar-thumb{
	background: var(--primary-color);
}
/*
===============================
	Custom css
===============================
*/
h1{
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 2rem;
	color: var(--primary-color);
	margin-left: 8.5rem;
	flex: auto;
}
h2{
	font-weight: 700;
	font-size: 2.25rem;
	text-transform: capitalize;
	font-family: var(--secondary-font);
	color: var(--secondary-color);
	line-height: 3rem;
}
h4{
	color: var(--secondary-color);
	font-family: var(--secodary-font);
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 0.5rem;
}
h5{
	color: var(--primary-color);
	text-transform: capitalize;
	font-family: var(--secodary-font);
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
p{
	font-size: 1rem;
	color: var(--text-color);
	font-weight: 400;
	margin-left: 20rem;
	line-height: 1.75rem;
	letter-spacing: 1px;
}

.wrapper{
	padding-top: 8.25rem;
	padding-bottom: 8.25rem;
}
.text-content{
	width: 70%;
	margin: auto;
}
.counter-section h2,
.testimonial-section h2,
.book-food-text h2{
	color: var(--white-color);
}
.btn{
	display: inline-block;
	margin-top: 0.005rem;
	margin-left: 0.625rem;
	padding: 0.3125rem 1.4375rem;
	line-height: 1.5625rem;
	background-color: var(--primary-color);
	border: 0.1875rem solid var(--primary-color);
	color: var(--white-color);
	font-size: 0.9375rem;
	font-weight: 600;
	text-transform: capitalize;
	box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
	-webkit-transition: all .4s ease-out 0s;
	-o-transition: all .4s ease-out 0s;
	-moz-transition: all .4s ease-out 0s;
	transition: all .4s ease-out 0s;

}
.white-btn{
	padding: 0.3125rem 1.4375rem;;
	line-height: 25px;
	background-color: var(--white-color);
	color: var(--text-color);
	font-size: 0.9375rem;
	font-weight: 600;
	text-transform: capitalize;
	box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
	-webkit-transition: all .4s ease-out 0s;
	-o-transition: all .4s ease-out 0s;
	-moz-transition: all .4s ease-out 0s;
	transition: all .4s ease-out 0s;
}
.white-btn:hover{
	background-color: transparent;
	color: var(--primary-color);
	border-color: var(--primary-color);
}

/*
===============================
	Header desigining
===============================
*/
.navbar{
	position: fixed;
	left: 0;
	transition: all 0.3s ease-out;
	z-index: 1000;
	-webkit-transition: all 0.3s ease-out;
	width: 100%;
}
.navbar img{
	height: 80px;
	width: 150px;
	border: none;
	background: transparent;
	margin-top: 1rem;
	border-radius: 15px;
	margin-left: 1rem;
	box-shadow: 0 1rem 1rem rgba(255, 255, 255);
}
.navbar .container{
	display: flex;
}
.navbar ul{
	display: flex;
	justify-content: space-between;
	margin-left: 450px;
	margin-top: 3rem;
}
.navbar ul li {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	margin-left: 20px;
	
}
.navbar ul li a{
	color: var(--primary-color);
	font-weight: 800;
}
.navbar ul li a:hover{
	color: var(--black-color);
}
.nav-link{
	font-size: 0.9375rem;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--primary-color);
	letter-spacing: 1px;

}
.navbar .main-button{
	display: inline-block;
	margin-top: 0.005rem;
	margin-left: 0.625rem;
	padding: 0.3125rem 1.4375rem;
	line-height: 1.5625rem;
	background-color: var(--primary-color);
	border: 0.1875rem solid var(--primary-color);
	color: var(--white-color);
	font-size: 0.9375rem;
	font-weight: 600;
	text-transform: capitalize;
	box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
	-webkit-transition: all .4s ease-out 0s;
	-o-transition: all .4s ease-out 0s;
	-moz-transition: all .4s ease-out 0s;
	transition: all .4s ease-out 0s;

}
.main-button:hover{
	background-color: transparent;
	color: var(--primary-color);
}
/*
=======================
	Banner design
=======================
*/
.top-banner{
	width: 100%;
	background: url('../Image/food-4.jpg') no-repeat center;
	background-size: cover;
	padding: 16.875rem 0 9.375rem;
}
.top-banner-class-button{
	margin-left: 30rem ;
	margin-top: 2rem;
}